* {
  font-size: 1.1rem;
}
#wrapper {
  position: sticky;
  top: 0;
  background-color: #046f94;
  z-index: 10;
}
.navbar-brand {
  font-family: Comic Sans MS;
  color: aliceblue;
}

.nav-item {
  cursor: pointer;
}

a {
  color: #7acddd !important;
}

a:hover {
  color: #00d5ff !important;
}

.active {
  color: #00d5ff !important;
  font-weight: 500;
}
