#searchform {
  width: 30%;
  min-width: 250px;
}

#searchInput {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.925);
}
::placeholder {
  color: rgb(240, 236, 230);
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
}

#fiveDayWrapper {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 2px rgba(14, 27, 99, 0.582);
}

.currentCity {
  font-size: 1.7rem;
  font-weight: 500;
  color: #134953ea;
}
.currentTemperature {
  font-size: 1.1rem;
  color: #1b4de4;
}

#forecastsTitle {
  font-size: 2rem;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #134953ea;
}

.fa-star {
  font-size: 2em;
  opacity: 0.5;
}

.fa-star:hover {
  opacity: 1;
  transition: ease-in 0.3s;
}

#favoritesBtn {
  background-color: transparent;
  border: none;
}

#dailyCards {
  min-height: 300px;
}
small {
  color: rgb(179, 11, 11);
  display: block;
  font-size: 0.7rem;
}

h2 {
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 30px;
  color: #134953ea;
}
